Package: agraman-artwork
Version: 0.1
Architecture: all
Maintainer: Samuel J. Taylor <samtaylor.uk@gmail.com>
Installed-Size: 92
Depends: shiki-wise-theme, agraman-gdm-themes, agraman-wallpapers
Replaces: ubuntu-artwork
Section: gnome
Priority: optional
Description: agraman themes and artwork
 This package contains merely the Distributor Logo and pulls in all the
 other components via Depends.
