[GdmGreeterTheme]
Encoding=UTF-8
Greeter=agraman.xml
Name=agraman GDM
Description=agraman GDM.
Author=Samuel J. Taylor(agraman LTD), orignal by perfectska04, Daniel Fore.
Copyright=GPL
Screenshot=screen.jpg
